.our-services {
  background-color: #f0efe9;
  position: relative;
}
.our-services img {
  display: none;
}
.our-services .container {
  margin-top: 30px;
  padding-top: 30px;
  padding-block: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, auto);
  justify-items: center;
  grid-template-areas: " title " "box1  " "box2  " "box3 " "box4 " "btn";
}
.our-services .container .title {
  grid-area: title;
  text-align: center;
}
.our-services .container .box1 {
  grid-area: box1;
  padding: 45px 20px;
  background-color: white;
  margin-bottom: 30px;
}
.our-services .container .box1 .line {
  border-bottom: 1px solid #000;
  height: 1px;
  width: 37px;
  margin-bottom: 44px;
}
.our-services .container .box1 .circel-wrap {
  display: flex;
  justify-content: end;
}
.our-services .container .box1 .circel-wrap .circel {
  height: 56px;
  width: 56px;
  border-radius: 50px;
  background-color: #191919;
  margin-top: 25px;
  text-align: center;
}
.our-services .container .box1 .circel-wrap .circel i {
  color: white;
  font-size: 22px;
}
.our-services .container .box2 {
  margin-bottom: 30px;
  grid-area: box2;
  padding: 45px 20px;
  background-color: #f9d783;
}
.our-services .container .box2 .line {
  border-bottom: 1px solid #000;
  height: 1px;
  width: 37px;
  margin-bottom: 44px;
}
.our-services .container .box2 .circel-wrap {
  display: flex;
  justify-content: end;
}
.our-services .container .box2 .circel-wrap .circel {
  height: 56px;
  width: 56px;
  border-radius: 50px;
  background-color: #ffffff;
  margin-top: 25px;
  text-align: center;
}
.our-services .container .box2 .circel-wrap .circel i {
  color: rgb(1, 1, 1);
  font-size: 22px;
}
.our-services .container .box3 {
  margin-bottom: 30px;
  grid-area: box3;
  padding: 45px 20px;
  background-color: white;
}
.our-services .container .box3 .line {
  border-bottom: 1px solid #000;
  height: 1px;
  width: 37px;
  margin-bottom: 44px;
}
.our-services .container .box3 .circel-wrap {
  display: flex;
  justify-content: end;
}
.our-services .container .box3 .circel-wrap .circel {
  height: 56px;
  width: 56px;
  border-radius: 50px;
  background-color: #191919;
  margin-top: 25px;
  text-align: center;
}
.our-services .container .box3 .circel-wrap .circel i {
  color: white;
  font-size: 22px;
}
.our-services .container .box4 {
  margin-bottom: 30px;
  grid-area: box4;
  padding: 45px 20px;
  background-color: white;
}
.our-services .container .box4 .line {
  border-bottom: 1px solid #000;
  height: 1px;
  width: 37px;
  margin-bottom: 44px;
}
.our-services .container .box4 .circel-wrap {
  display: flex;
  justify-content: end;
}
.our-services .container .box4 .circel-wrap .circel {
  height: 56px;
  width: 56px;
  border-radius: 50px;
  background-color: #191919;
  margin-top: 25px;
  text-align: center;
}
.our-services .container .box4 .circel-wrap .circel i {
  color: white;
  font-size: 22px;
}
.our-services .container .btn-wrap {
  grid-area: btn;
}
.our-services .container .btn-wrap a {
  text-decoration: none;
}
@media (min-width: 992px) {
  .our-services .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    grid-template-areas: " title title" "box1 box2 " "box3 box4 " "btn btn ";
  }
}
@media (min-width: 1200px) {
  .our-services .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    padding-top: 122px;
    padding-bottom: 100px;
    -moz-column-gap: 30px;
         column-gap: 30px;
    grid-template-areas: " title title . ." "box1 box2 box3 box4 " "btn btn btn btn";
  }
  .our-services .container .title {
    grid-area: title;
    text-align: left;
  }
  .our-services .container .title h2 {
    padding-right: 100px;
  }
}
@media (min-width: 992px) {
  .our-services img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}