.btn-yellow {
  justify-content: center;
  border-radius: 25px;
  border: 1px solid transparent;
  height: 56px;
  width: 208px;
  text-decoration: none;
}
.btn-yellow:hover {
  background-color: transparent;
  border: 1px solid #191919;
  transition: 0.3s;
  text-decoration: underline;
}
.btn-yellow button {
  border: none;
  background-color: transparent;
}
.btn-yellow i {
  margin-left: 5px;
}